In [1]:
###################################### Assignment 9 ##########################
#
# Read the dataset from the below link
# https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
# Questions:
# 1. Delete unnamed columns
# 2. Show the distribution of male and female
# 3. Show the top 5 most preferred names
# 4. What is the median name occurence in the dataset
# 5. Distribution of male and female born count by states
#
#############################################################################

import pandas as pd

In [123]:
# 1. Delete unnamed columns
df = pd.read_csv('US_Baby_Names_right.csv')
#del df['Unnamed: 0']
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

In [166]:
# 2. Show the distribution of male and female


#print(df.groupby('Gender').count().iloc[0,0]) -- This Works
#print(df.groupby('Gender').count().iloc[1,0]) -- This Works


#print((df[df.Gender=='M']).shape) -- This works
#print((df[df.Gender=='F']).shape) -- This works

df.groupby('Gender').Gender.agg(['count'])

         count
Gender
F       558846
M       457549

In [179]:
# 3. Show the top 5 most preferred names
#df.head()
df.groupby('Name').count().Id.sort_values(ascending=False)[0:5]
#df.info()

Name
Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Id, dtype: int64

In [241]:
# 4. What is the median name occurence in the dataset

countSeries = df.groupby('Name').Count.count()
#print(countSeries)
meanValue = countSeries.mean()
lowerValue = meanValue -2

print("Mean Value", meanValue)
#countSeries[(countSeries < meanValue) & (countSeries >lowerValue)]
countSeries[(countSeries==57)]
#countSeries

#groupByDf
# groupByDf.loc['Emma'] -- Getting value of a dataframe index
#groupByDf[groupByDf['Name']=='Emma']
#df[df['Name']=='Emma']

Mean Value 57.644906987295826

Name
Adnan       57
Alasia      57
Alyna       57
Analeigh    57
Chloee      57
Corina      57
Darrien     57
Honor       57
Izabela     57
Jadelyn     57
Jadin       57
Janell      57
Janelly     57
Jariel      57
Jody        57
Kaedyn      57
Kaydee      57
Kaydin      57
Kodi        57
Love        57
Mahmoud     57
Marli       57
Mindy       57
Nolen       57
Opal        57
Oren        57
Reign       57
Roan        57
Samiah      57
Sariya      57
Symphony    57
Thor        57
Tom         57
Tyshaun     57
Name: Count, dtype: int64

In [247]:
# 5. Distribution of male and female born count by states

df.groupby(['State', 'Gender']).Id.count()

State  Gender
AK     F          2404
       M          2587
AL     F          9878
       M          8419
AR     F          7171
       M          6475
AZ     F         14518
       M         10820
CA     F         45144
       M         31637
CO     F         11424
       M          9183
CT     F          6575
       M          5733
DC     F          3053
       M          3000
DE     F          2549
       M          2440
FL     F         25781
       M         20070
GA     F         19385
       M         15454
HI     F          3255
       M          3546
IA     F          7131
       M          6307
ID     F          4918
       M          4833
IL     F         21268
       M         16828
                 ...
OK     F          9519
       M          8138
OR     F          8604
       M          7333
PA     F         17480
       M         14171
RI     F          2558
       M          2468
SC     F          9465
       M          8195
SD     F          2838
       M          2908
TN     F         13063
       M         10588
TX     F         39760
       M         27791
UT     F          9515
       M          8233
VA     F         14759
       M         11997
VT     F          1398
       M          1618
WA     F         13329
       M         11049
WI     F         10549
       M          8940
WV     F          4305
       M          3733
WY     F          1456
       M          1904
Name: Id, Length: 102, dtype: int64